@import "~taro-ui/dist/style/components/icon.scss";
@import '../../styles/page.scss';

.component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &-image {
        padding: 2px;
        width: 190px;
    }
    &-info {
        &-name {
            font-size: 25px;
            font-weight: bolder;
            width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-author {
            color: gray;
            font-size: 20px;
            width: 170px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-price {
            font-size: 25px;
            color: red;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-browse {
            font-size: 20px;
            @include flexLayout($justify: flex-start);
        }
    }
}