@import '../../styles/page.scss';


.page {
    background: $page-background;
    &-section {
        background: white;
        margin-bottom: 30px;
        &-summary {
            font-size: 25px;
            margin: 50px 30px;
        }
    }
    &-end {
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        color: gray;
    }
}