@import '../../styles/page.scss';

.page {
    background: rgb(245, 245, 245);


    &-flow {
        position: fixed;
        z-index: 999;
        bottom: 10px;
        width: 100%;
        @include flexLayout($flex: column);
        &-censor {
            @include flexLayout($justify: flex-end);
            width: 100%;
        }
        &-subget {
            @include flexLayout($justify: space-around);
            width: 100%;
        }
    }
    &-seachContainer {
        box-shadow: 0 0 10px 0 gray;
    }
    &-container {
        margin-top: 76px;
    }
}